/* cv */

.proyectos__body {
    background-color: $backgroundColor;
  }
  .proyectos {
    @extend .background;

    &__contenido {
        @include gridVariable(3,true);
    }

    &__titulo-principal{
        margin-bottom: 40px;
        text-align: center;
        font-size: 30px;
        color: $fontRed;
        font-size: $fontSize;
    }
  }
  
  
  .proyecto {
    background-color: rgb(157, 160, 190);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);

    &__enlace{
        background-color: #22c55e;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        color: #e2e8f0;
        padding: 15px 0;
        font-weight: bold;
    }

    &__descripcion{
        height: 50px;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    &__titulo{
        margin-bottom: 20px;
        font-size: 20px;
    }

    &__encabedazo{
        position: relative;

        &-imagen{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;

            //&:hover{ no funciona
           //     transform: scale(1.2);
           // }
        }
      
    }
  }
  
  .proyecto__encabezado:hover {
    transform: scale(1.2);
  }

  @media (max-width: $bpMegaLarge) {
    /* cv */
  
    .proyectos {
      margin: 0px;
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }
	}

  @media (max-width: $bpExtraLarge) {
    /* cv */
  
    .proyectos__contenido {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .proyecto__encabezado {
      margin-left: 50px;
    }
	}

  @media (max-width: $bpLarge){
  
      /* cv */
  
    .proyectos__contenido {
      grid-template-columns: 1fr;
      width: 40%;
    }
	}

  @media (max-width: $bpMedium) {
    /* cv */
  
    .proyecto__encabezado:hover {
      transform: none;
    }
  
    .proyecto__encabezado-imagen {
      display: block;
      margin: auto;
    }
    .proyecto__encabezado-imagen {
      display: none;
    }
  }