/* habilidades */

.habilidades__body{
    background-color: $backgroundColor;
  }
  
  .habilidades{
    @extend .background;  

    &__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $fontRed;
      }

    &__contenido {

      @include gridVariable(2, false);

        &-dato {
            background-color: rgb(157, 160, 190);
            width: 70%;
            padding: 40px;
            padding-left: 70px;
            padding-right: 70px;
            height: 475px;
            margin: 30px;
            line-height: 2;
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
          }

        &-titulo{
            display: flex;
            justify-content: center;
            align-items: center;
          }

        &-articulo{
            display: flex; 
            align-items: center;
            white-space: nowrap;
          }

          &-div{
            width: 200px;
          }

          &-nivel{
            font-family: "OpenSansBold";
            padding-left: 5px; 
            }
      }

      &__encabezado-imagen{
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 25px;
      }
 
    }
  
@media (max-width: $bpExtraLarge) {
    
    /* habilidades */
  
    .habilidades__encabezado-imagen{
      display: none;
    }
	}

  @media (max-width: $bpLarge){
  
    /* habilidades */
  
    .habilidades__contenido{
      grid-template-columns: 1fr;
    }
  
    .habilidades__contenido-dato{
      height: 250px;
    }
	}

  @media (max-width: $bpSmall) {

    /* habilidades */
  
    .habilidades__contenido-dato{
      width: 80%;
    }
  }