/* sobre mi */
.sobremi__body {
    background-color: $backgroundColor; }
  
  .sobremi {
    @include gridVariable(2, false);
    margin-left:130px;
    &__dato{
    background-color: #a09eb4;
    width: 70%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 475px;
    margin: 30px;
    line-height: 1.8;

    &-titulo{
      color: $fontRed;
      
    }
    }

    &__imagen {
    background: url("../media/imagenes/pexels-mohamed-abdelghaffar-771742.jpg");
    background-size: cover;
    background-position: center;
    }
}

@media (max-width: $bpLargest) {
  /* sobre mi*/

  .sobremi__dato {
    word-wrap: break-word;
    height: 700px;
  }
}

@media (max-width: $bpMegaLarge) {
  /* sobre mi*/

  .sobremi__dato {
    word-wrap: break-word;
    height: 700px;
  }
}

@media (max-width: $bpExtraLarge) {
  
  /* sobre mi*/

  .sobremi__dato {
    overflow: scroll;
  }
}

@media (max-width: $bpLarge) {
  /* sobre mi*/

  .sobremi {
    grid-template-columns: 1fr;
  }

  .sobremi__dato {
    word-wrap: break-word;
    height: 600px;
    text-align: center;
  }

  .sobremi__imagen {
    display: none;
  }
}

@media (max-width: $bpMedium) {
  /* sobre mi*/

  .sobremi__dato {
    word-wrap: break-word;
    height: 600px;
  }
}

@media (max-width: $bpSmall) {
  /* sobre mi*/

  .sobremi__dato {
    word-wrap: break-word;
  }
}

/* probe varias cosas no logro arreglar el scroll del div sobremi dato, 
tampoco entiendo como no tendria scroll si el texto termina estirandose hacia abajo*/