/* footer */
  
.pie-pagina{
     bottom:0;
     width:100%;
     height:60px;   
     background:#6cf;
     background-color: black;
     position: absolute;

     &__contenido{
        @extend .contenedor;
        flex-wrap:wrap;
        align-items:center;
        font-size:1.3rem;
        font-family: "OpenSans";
        color:rgba(255,255,255,.7);
        & a{
        color:rgba(255,255,255,.7)
         //probe de poner aca adentro &:hover y no me lo tomaba
        } 
     }

     &__dato{
        margin: 20px;
        font-size: medium;

        &__derechos{
         color: white;
        }
     }
  }

  @media (max-width: $bpLargest) {
   /* pie pagina */
 
   .pie-pagina {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
   }
 }

 @media (max-width: $bpMegaLarge) {
   /* pie pagina */
 
   .pie-pagina {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
   }
  }