/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  /* tipografia */
  @font-face {
    font-family: "Raleway";
    src: url("../media/fuentes/Raleway/Raleway-VariableFont_wght.ttf");
    font-style: normal;
  }
  
  @font-face {
    font-family: "RobotSlab";
    src: url("../media/fuentes/Roboto_Slab/static/RobotoSlab-Regular.ttf");
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans";
    src: url("../media/fuentes/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSansBold";
    src: url("../media/fuentes/Open_Sans/static/OpenSans/OpenSans-SemiBoldItalic.ttf");
    font-style: normal;
  }

  //extends 

  .contenedor{
    display:flex;
    justify-content:space-between;
  }

  .background{
    margin-top: 60px;
    padding: 50px 20px;
    background-color: #a09eb4;  
  }

  //mixin

  @mixin gridVariable($cantidadCol, $maxWidth){
    display: grid;
    grid-template-columns: repeat($cantidadCol, 1fr);
    gap: 40px; 

    @if($maxWidth == true){
      max-width: 1200px;
      margin: 0 auto;
    }
  }